{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">

        <h1>Toyora Supra 2018</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam error et in facere accusamus perferendis illum dolorum expedita, exercitationem sunt omnis debitis nostrum assumenda iure, aliquid laboriosam pariatur. Ea molestias ipsum laudantium nulla animi possimus ipsam eius perferendis, at exercitationem minus accusantium, alias rem commodi, facilis esse. At.
        </p>
    </div>
    
    <div class="col-4">
        <img src="assets/img/img.jpg" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer }}